<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!-- FXML's starting-loader bean -->
    <beans:bean id="springFXMLLoader" class="com.uz.laboratory.statistical.service.SpringFXMLLoader"/>

    <!-- Dozer mapper for DTO's -->
    <beans:bean id="dozerBeanMapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>dozer/dozer-mapping.xml</value>
            </list>
        </property>
    </beans:bean>

    <beans:bean id="initComboBoxesUtil" class="com.uz.laboratory.statistical.util.InitComboBoxesUtil"/>

    <!-- Dao beans definitions -->
    <beans:bean id="communicationDistanceDao"
                class="com.uz.laboratory.statistical.dao.location.locationImpl.CommunicationDistanceDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="sectorDao" class="com.uz.laboratory.statistical.dao.location.locationImpl.SectorDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="stageDao" class="com.uz.laboratory.statistical.dao.location.locationImpl.StageDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="stationDao" class="com.uz.laboratory.statistical.dao.location.locationImpl.StationDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="ponabSystemDao" class="com.uz.laboratory.statistical.dao.ponab.ponabImpl.PonabSystemDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="alsRemarkDao" class="com.uz.laboratory.statistical.dao.remark.remarkImpl.AlsRemarkDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="ponabRemarkDao" class="com.uz.laboratory.statistical.dao.remark.remarkImpl.PonabRemarkDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="inspectionTripDao" class="com.uz.laboratory.statistical.dao.trip.tripImpl.InspectionTripDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="vagonLaboratoryDao" class="com.uz.laboratory.statistical.dao.trip.tripImpl.VagonLaboratoryDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="trackCircuitDao" class="com.uz.laboratory.statistical.dao.als.alsImpl.TrackCircuitDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <!-- Service beans definitions -->
    <beans:bean id="communicationDistanceService"
                class="com.uz.laboratory.statistical.service.location.locationImpl.CommunicationDistanceServiceImpl">
        <beans:property name="dao" ref="communicationDistanceDao"/>
    </beans:bean>

    <beans:bean id="clientService"
                class="com.uz.laboratory.statistical.service.location.locationImpl.SectorServiceImpl">
        <beans:property name="dao" ref="sectorDao"/>
    </beans:bean>

    <beans:bean id="stageService" class="com.uz.laboratory.statistical.service.location.locationImpl.StageServiceImpl">
        <beans:property name="dao" ref="stageDao"/>
    </beans:bean>

    <beans:bean id="stationService"
                class="com.uz.laboratory.statistical.service.location.locationImpl.StationServiceImpl">
        <beans:property name="dao" ref="stationDao"/>
    </beans:bean>

    <beans:bean id="ponabSystemService"
                class="com.uz.laboratory.statistical.service.ponab.ponabImpl.PonabSystemServiceImpl">
        <beans:property name="dao" ref="ponabSystemDao"/>
    </beans:bean>

    <beans:bean id="alsRemarkService"
                class="com.uz.laboratory.statistical.service.remark.remarkImpl.AlsRemarkServiceImpl">
        <beans:property name="dao" ref="alsRemarkDao"/>
    </beans:bean>

    <beans:bean id="ponabRemarkService"
                class="com.uz.laboratory.statistical.service.remark.remarkImpl.PonabRemarkServiceImpl">
        <beans:property name="dao" ref="ponabRemarkDao"/>
    </beans:bean>

    <beans:bean id="inspectionTripService"
                class="com.uz.laboratory.statistical.service.trip.tripImpl.InspectionTripServiceImpl">
        <beans:property name="dao" ref="inspectionTripDao"/>
    </beans:bean>

    <beans:bean id="vagonLaboratoryService"
                class="com.uz.laboratory.statistical.service.trip.tripImpl.VagonLaboratoryServiceImpl">
        <beans:property name="dao" ref="vagonLaboratoryDao"/>
    </beans:bean>

    <beans:bean id="trackCircuitService"
                class="com.uz.laboratory.statistical.service.als.alsImpl.TrackCircuitServiceImpl">
        <beans:property name="dao" ref="trackCircuitDao"/>
    </beans:bean>

    <beans:bean id="deleteEntityDto" class="com.uz.laboratory.statistical.dto.DeleteEntityDto"/>

    <beans:bean id="ponabRemarkDto" class="com.uz.laboratory.statistical.dto.ponab.PonabRemarkDto"/>

    <beans:bean id="alsRemarkDto" class="com.uz.laboratory.statistical.dto.als.AlsRemarkDto"/>

    <beans:bean id="ponabEditEntityDto" class="com.uz.laboratory.statistical.dto.ponab.PonabRemarkEditEntityDto"/>

    <beans:bean id="alsRemarkEditEntityDto" class="com.uz.laboratory.statistical.dto.als.AlsRemarkEditEntityDto"/>

    <beans:bean id="modalUtil" class="com.uz.laboratory.statistical.util.fx.ModalUtil"/>

    <beans:bean id="remarkTableListSaveDto" class="com.uz.laboratory.statistical.dto.RemarkTableListSaveDto"/>

    <beans:bean id="ponabDeviceDto" class="com.uz.laboratory.statistical.dto.ponab.PonabSystemDto"/>

    <beans:bean id="alsSystemDto" class="com.uz.laboratory.statistical.dto.als.AlsSystemDto"/>

    <beans:bean id="ponabSystemEditEntityDto" class="com.uz.laboratory.statistical.dto.ponab.PonabSystemEditEntityDto"/>

    <beans:bean id="alsSystemEditEntityDto" class="com.uz.laboratory.statistical.dto.als.AlsSystemEditEntityDto"/>

    <beans:bean id="inspectionTripDto" class="com.uz.laboratory.statistical.dto.trip.InspectionTripDto"/>

    <beans:bean id="inspectionTripEditEntityDto"
                class="com.uz.laboratory.statistical.dto.trip.InspectionTripEditEntityDto"/>

    <beans:bean id="stationEditOrCreateDto"
                class="com.uz.laboratory.statistical.dto.location.StationEditOrCreateDto"/>

    <beans:bean id="communicationDistanceEditOrCreateDto"
                class="com.uz.laboratory.statistical.dto.location.CommunicationDistanceEditOrCreateDto"/>

    <beans:bean id="stageEditOrCreateDto"
                class="com.uz.laboratory.statistical.dto.location.StageEditOrCreateDto"/>

    <beans:bean id="vagonLaboratoryEditOrCreateDto"
                class="com.uz.laboratory.statistical.dto.trip.VagonLaboratoryEditOrCreateDto"/>


</beans:beans>