<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    <!-- Dozer mapper for DTO's -->
    <beans:bean id="dozerBeanMapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>dozer/dozer-mapping.xml</value>
            </list>
        </property>
    </beans:bean>

    <beans:bean id="communicationDistanceDao"
                class="com.uz.laboratory.statistical.dao.location.locationImpl.CommunicationDistanceDaoImpl">
        <beans:property name="sessionFactory" ref="sessionFactory"/>
    </beans:bean>

    <beans:bean id="clientService"
                class="com.uz.laboratory.statistical.service.location.locationImpl.CommunicationDistanceServiceImpl">
        <beans:property name="dao" ref="communicationDistanceDao"/>
    </beans:bean>

</beans:beans>